<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Anahi Avendano</title>
</head>
<body>
<h1>MENU TP01</h1>
	<ul>
		<li><a href="resultadoFactorial?num1=5">Punto N1</a></li>
		<li><a href="resultadoBisiesto?num1=2007">Punto N2</a></li>
		<li><a href="resultadoPar?num1=20">Punto N3</a></li>
		<li><a href="resultadoMes?num1=5">Punto N4</a></li>
		<li><a href="resultadoNota?num1=7">Punto N6</a></li>
		<li><a href="resultadoSecuencia?num1=4">Punto N8</a></li>
		<li><a href="resultadoFor?">Punto N9</a></li>
		<li><a href="resultadoWhile?">Punto N10</a></li>
		<li><a href="resultadoDoWhile?">Punto N11</a></li>
		<li><a href="resultadoCaida?num1=10">Punto N12</a></li>
	</ul>
</body>
</html>